 {# src/esprit/AdminBundle/Resources/views/Admin/ajouter.html.twig #}

{% extends "EspritClientBundle::layout.html.twig" %}
 
{% block title %}
  Ajouter un Client - {{ parent() }}
{% endblock %}
 
{% block espritadmin_body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Gestion des Clients</h1>
 
  <hr>
  <h2>Ajouter un Client </h2>
 
  {% include "EspritClientBundle:Client:formulaire.html.twig" %}
 
  
  
 
{% endblock %}